body{
    height: 100%;
    width: 100%;
    background-color: #F0F8FF;
    font-family: 'Palatino Linotype';
}

.navtop{
    border-radius: 0;
    margin-bottom: 0;
}

.main-container{
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 1px;
    min-height: 400px;
    background-color: white;
    padding: 10px 25px 10px 25px;
}


.navbar-right{
    margin-right: 5px;
}