body{
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Verdana';
}

.navtop{
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    background-color: rgba(0,0,0, 0.75);
}

.main-container{
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-radius: 3px;
    min-height: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 25px 10px 25px;
}

.navbar-right{
    margin-right: 5px;
}

.center-cell{
    text-align: center;
}

#login, #register{
    margin-bottom: 30px;
}