.form-control{
    margin-bottom: 10px;
}

#send{
    margin-top: 9px;
    width: 100%;
}

#transport_types{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding-top: 6px;
}

.tr-type{
    font-weight: normal;
}

.main-container{
    border: 0;
    border-radius: 5px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 50px;
}

.chkb{
    display:none;
}

.type-div img{
    width: 16px;
    height: 16px;
    margin-top: -3px;
}

.type-div:hover{
    cursor: pointer;
}

.tr-type{
    cursor: pointer;
}