<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% end %}</title>
    <link href="/static/third-party/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ static_url('css/base.css') }}" rel="stylesheet">
    {% block additional_styles %}{% end %}
</head>
<body>
    <nav class="navbar navbar-inverse navtop">
        <div class="container-fluid">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav navbar-nav">
                    <li><a href="{{ reverse_url('home') }}">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user %}
                        <li><a>Hello, <strong>{{ current_user.username }}</strong></a></li>
                        <li><a href="{{ reverse_url('logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ reverse_url('login') }}">Login</a></li>
                        <li><a href="{{ reverse_url('registration') }}">Register</a></li>
                    {% end %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-8 col-md-offset-2">
        <div class="container-fluid main-container">
            <div class="row">
                <div class="col-md-12 content">
                    {% block content %}
                    {% end %}
                </div>
            </div>
        </div>
    </div>
    <script src="/static/third-party/jquery-3.1.1.js"></script>
    <script src="/static/third-party/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ static_url('js/base.js') }}"></script>
    {% block additional_js %}{% end %}
</body>
</html>