{% extends "base.html" %}

{% block title %}Пошук{% end %}

{% block additional_styles %}
    <link href="{{ static_url('css/home.css') }}" rel="stylesheet">
{% end %}

{% block content %}
    <div class="row">
        <form id="searchForm" method="post" data-options-url="{{ reverse_url('city-options', 'srch') }}"
              action="{{ reverse_url('search-request') }}">
            {% raw xsrf_form_html() %}
            <div style="text-align: center; margin-bottom: 10px; font-size: 22px; font-weight: bold;">
                Параметри пошуку
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-12">
                    <input id="from" name="from" type="text" class="form-control"
                           placeholder="Звідки" list="from-options" autocomplete="off"
                           data-toggle="tooltip" data-animation="" title="">
                    <datalist id="from-options">
                    </datalist>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input id="to" name="to" type="text" class="form-control"
                           placeholder="Куди" list="to-options" autocomplete="off"
                           data-toggle="tooltip" data-animation="" title="">
                    <datalist id="to-options">
                    </datalist>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <button id="send" type="submit" class="btn btn-primary ajax-btn" style="margin-top:0;">
                        <span class="glyphicon glyphicon-search"></span>
                        Шукати
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-5 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <strong>Види транспорту</strong>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row" id="transport_types" data-animation="" data-toggle="tooltip" title="">
                            <div class="col-md-4 col-xs-4 type-div center-cell" id="type-bus">
                                <input class="chkb" type="checkbox" name="search_bus" id="bus" title="Bus" checked>
                                <img src="{{ static_url('images/bus-active.png') }}"/>
                                <label class="tr-type">Автобус</label>
                            </div>
                            <div class="col-md-4 col-xs-4 type-div center-cell" id="type-flight">
                                <input class="chkb" type="checkbox" name="search_flight" id="flight" title="Flight" checked>
                                <img src="{{ static_url('images/plane-active.png') }}"/>
                                <label class="tr-type">Літак</label>
                            </div>
                            <div class="col-md-4 col-xs-4 type-div center-cell" id="type-train">
                                <input class="chkb" type="checkbox" name="search_train" id="train" title="Train" checked>
                                <img src="{{ static_url('images/train-active.png') }}"/>
                                <label class="tr-type">Потяг</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-12" style="text-align:center;">
                        <strong>Обмеження ціни</strong>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <input id="price_lower" name="price_lower" type="number" class="form-control"
                                   placeholder="Від (грн.)" autocomplete="off"
                                   data-toggle="tooltip" data-animation="" title="">
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <input id="price_upper" name="price_upper" type="number" class="form-control"
                                   placeholder="До (грн.)" autocomplete="off"
                                   data-toggle="tooltip" data-animation="" title="">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% end %}

{% block additional_js %}
    <script src="{{ static_url('js/home.js') }}"></script>
{% end %}