{% extends "base.html" %}

{% block title %}Travel search{% end %}

{% block additional_styles %}
    <link href="{{ static_url('css/home.css') }}" rel="stylesheet">
{% end %}

{% block content %}
    <div class="row">
        <form id="searchForm" method="post" action="{{ reverse_url('search-request') }}">
            {% raw xsrf_form_html() %}
            <div class="col-md-3 col-md-offset-2">
                <input id="from" type="text" class="form-control" placeholder="From">
            </div>
            <div class="col-md-3">
                <input id="to" type="text" class="form-control" placeholder="To">
            </div>
            <div class="col-md-2">
                <button id="send" type="submit" class="btn btn-primary ajax-btn" style="margin-top:0;">Search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <span id="error-text" class="error text-danger middle-text"></span>
    </div>
{% end %}

{% block additional_js %}
    <script src="{{ static_url('js/home.js') }}"></script>
{% end %}